<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>LinkedIn Prototype</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<nav class="navbar navbar-fixed-top header">
 	<div class="col-md-12">
        <div class="navbar-header">
          
          <a href="#" class="navbar-brand">LinkedIn Prototype</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>
      
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
        </div>	
     </div>	
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
          <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"></i> Home <small></small></a>
          <a href="#" style="margin-left:5px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"></i> Job Applications <small></small></a>
        </div>
    </div>	
</div>

<!--main-->
<div class="container" id="main">
   <!--row-->
   <div class="row">
   <div class="col-md-4 col-sm-6">
      
      <div class="well">
          <h4>Company Profile</h4>
          <form>
          		<div class="col-xs-6 col-sm-4"><img id="cLogo" src="..." class="img-responsive" alt="Responsive image"><br></div>
          		<div id="up" class="form-group" name="up" id="changeL">	
          		</div>
          		<button id="editLogo" class="btn btn-link pull-right" type="button">change logo</button>
          		<!-- <form id="data" enctype = "multipart/form-data" action = "/company/logoupload" method = "post">
	          		<div class="form-group" name="up" id="changeL">
	          			<input type="file" id="companyLogo" name="logo"/>
	          		</div>
          			<button id="saveLogo" class="btn btn-link pull-right" type="submit">save logo</button>
          		</form> -->
                <input id="companyId" type="text" class="form-control" placeholder="Company Id" value="10d4a9d0-dd8c-11e4-9d77-0177e34acfb0" disabled>
                <div class="form-group">
                  <label for="companyName">Company Name</label>
                  <input id="name" type="text" class="form-control" disabled><button id="savename" class="btn btn-link pull-right" type="button">save</button><button id="editname" class="btn btn-link pull-right" type="button">edit</button>
                </div>
                <div class="form-group">
                  <label for="overview">Company Overview</label>
                  <textarea id="overviewText" class="form-control" id="overview" disabled></textarea><button id="saveoverview" class="btn btn-link pull-right" type="button">save</button><button id="editoverview" class="btn btn-link pull-right" type="button">edit</button>
                </div>
                <div class="form-group">
                  <label for="website">Website Links</label>
                  <input id="urlText" type="text" class="form-control" id="website" disabled><button id="saveurl" class="btn btn-link pull-right" type="button">save</button><button id="editurl" class="btn btn-link pull-right" type="button">edit</button>
                </div>
                
            </form>
      </div>

	</div>

  	<div class="col-md-4 col-sm-6">
      	 
          <div class="well"> 
            <h4>Post Jobs</h4>
              <form>
                  <div class="form-group">
                    <label for="jobTitle">Job Title</label>
                    <input type="text" class="form-control" id="jobTitle" placeholder="Enter Job Title">
                  </div>
                  <div class="form-group">
                    <label for="jobDesc">Job Description</label>
                    <textarea class="form-control" id="jobDesc" placeholder="Description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="expiry">Expiry Date</label><br>
                    <input type="date" class="form-control" name="expiry">
                  </div>
                  <div class="form-group">
                    <label for="location">Job Location</label>
                    <input type="text" class="form-control" id="location" placeholder="Location"></textarea>
                  </div>
                  <button class="btn btn-success pull-right" type="button">Post Job</button><ul class="list-inline"><li></li></ul>
              </form>
          </div>
      
  	</div>

  	<div class="col-md-4 col-sm-6">
      
      <div class="well"> 
             <form class="form-horizontal" role="form">
              <h4>Post Status</h4>
               <div class="form-group" style="padding:14px;">
                <textarea id="statusText" class="form-control" placeholder="Update your status"></textarea>
              </div>
              <button id="postStatus" class="btn btn-success pull-right" type="button">Post Status</button><ul class="list-inline"><li></li></ul>
            </form>
        </div>

    </div>

  </div><!--/row-->
    
    <div class="clearfix"></div>
      
    <hr>
    <div class="col-md-12 text-center"><p>CmpE-282 CloudServices-LinkedIn Prototype</p></div>
    <hr>
    
  </div>
</div><!--/main-->

	<!-- script references -->
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
  	<script src="js/ajaxcalls.js"></script>
  	<script type="text/javascript">
  		$.ajax({
		    type: "GET",
		    url: "/company/"+$("#companyId").val(),
		    crossDomain : true,
		    success: function( d ) {
		       $("#name").val(d.data[0].companyName);
		       $("#overviewText").val(d.data[0].overview);
		       $("#urlText").val(d.data[0].url);
		       $("#cLogo").attr("src", d.data[0].logo);
		    }
		});
  	</script>
	</body>
</html>