<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Bootstrap Google Plus Theme</title>
<meta name="generator" content="Bootply" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
<link href="css/styles.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-fixed-top header">
		<div class="col-md-12">
			<div class="navbar-header">

				<a href="#" class="navbar-brand">Bootstrap</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse1">
					<i class="glyphicon glyphicon-search"></i>
				</button>

			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse1">

				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://www.bootply.com" target="_ext">Bootply+</a></li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
							class="glyphicon glyphicon-bell"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
							<li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
							<li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
							<li><a href="#"><span
									class="label label-info pull-right">1</span>Link</a></li>
							<li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
						</ul></li>
					<li><a href="#" id="btnToggle"><i
							class="glyphicon glyphicon-th-large"></i></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="navbar navbar-default" id="subnav">
		<div class="col-md-12">
			<div class="navbar-header">

				<a href="#" style="margin-left: 15px;"
					class="navbar-btn btn btn-default btn-plus dropdown-toggle"
					data-toggle="dropdown"><i class="glyphicon glyphicon-home"
					style="color: #dd1111;"></i> Home <small><i
						class="glyphicon glyphicon-chevron-down"></i></small></a>
				<ul class="nav dropdown-menu">
					<li><a href="#"><i class="glyphicon glyphicon-user"
							style="color: #1111dd;"></i> Profile</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-dashboard"
							style="color: #0000aa;"></i> Dashboard</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-inbox"
							style="color: #11dd11;"></i> Pages</a></li>
					<li class="nav-divider"></li>
					<li><a href="#"><i class="glyphicon glyphicon-cog"
							style="color: #dd1111;"></i> Settings</a></li>
					<li><a href="#"><i class="glyphicon glyphicon-plus"></i>
							More..</a></li>
				</ul>


				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse2">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse2">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Posts</a></li>
					<li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
					<li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--main-->
	<div class="container" id="main">
		<div class="row">

			<div class="col-md-8 col-sm-6">
				<div class="input-group" style="max-width: 470px;">
					<input type="text" class="form-control" placeholder="Search by job title,location, or company name"
						name="srch-term" id="srch-term">
					<div class="input-group-btn">
						<button class="btn btn-default btn-primary" onclick="searchJobs()">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-8 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Jobs you may be interested in</h4>
					</div>
					<div class="panel-body">
						<!-- Job list -->

					</div>
				</div>
			</div>
		</div>
		<!--/row-->

		<!--/col-->

		<!--/col-->

	</div>
	<!--/main-->
	<!-- script references -->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			getAllJobs();

		});

		function getAllJobs() {
			$.get("/jobs", function(jobList) {

				showJobs(jobList);

			});
		}

		function searchJobs() {
			var searchTerm = $("#srch-term").val();
			console.log("Term_________" + searchTerm);
			var URL = "/searchJobs/" + searchTerm;
			$.get(URL, function(jobList) {
				showJobs(jobList);
			});
		}

		function showJobs(jobList) {
			$(".panel-body").empty();
			console.log("Response came for  " + jobList);
			var i;
			var list = '';
			var jobURL;

			for (i = 0; i < jobList.length; ++i) {
				jobURL = '/showJobDetailsPage/' + jobList[i].jobId;
				if (i % 3 == 0) {
					list = list + '<div class="row">';
				}
				list = list
						+ '<div class="col-xs-4"><a class="center-block" href="'+jobURL+'">'
						+ jobList[i].companyId + '</a>'
						+ '<a class="center-block" href="'+jobURL+'">'
						+ jobList[i].jobTitle + '</a>' + '<p>'
						+ jobList[i].location + '</p></div>';
				if ((i + 1) % 3 == 0) {
					list = list + '</div><br>';

				}
			}
			if (jobList.length > 0) {
				$(".panel-body").append(list);
			} else {
				$(".panel-body").append("<p>No Jobs available.</p>");
			}

		}
	</script>
</body>
</html>