<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>LinkedIn Prototype</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/ajaxcalls.js"></script>

  </head>
  <body>
<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
        <div class="navbar-header">
          
          <a href="#" class="navbar-brand">LinkedIn Prototype</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>
      
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
        </div>  
     </div> 
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
          <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"></i> Home <small></small></a>
        </div>
    </div>  
</div>

<!--main-->
<div class="container" id="main">
   <!--row-->
   <div class="row">
   
    <div class="col-md-6 col-md-offset-3">
         
          <div class="well" id="cprofile"> 
            <div id="cform">
              <h4>Search</h4>
	                <div class="panel-group" id="accordion">
	                
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Company Search</div>
				                </h4>
				            </div>
				            <div id="collapseOne" class="panel-collapse collapse in">
				                <div class="panel-body">
					                <form id="companyS" class="form-inline">
									  <div class="form-group">
									    <label for="cName" style="margin-right:80px;">Company Name</label>
									    <input type="text" class="form-control" id="cName" placeholder="Company Name">
									  </div>
									  <button type="submit" class="btn btn-default">Search</button>
									</form>
				                </div>
				            </div>
				        </div>
				        
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">User Search</div>
				                </h4>
				            </div>
				            <div id="collapseTwo" class="panel-collapse collapse">
				                <div class="panel-body">
					                <form id="userS" class="form-inline">
									  <div class="form-group">
									    <label for="uName" style="margin-right:120px;">User Name</label>
									    <input type="text" class="form-control" id="uName" placeholder="User Name">
									  </div>
									  <button type="submit" class="btn btn-default" id = 'usersearch'>Search</button>
									</form>
				                </div>
				            </div>
				        </div>
				        
				    </div>
              </div>
          </div>

      <div class="row" id = 'initial'>
      
      </div>
      
    </div>

  </div><!--/row-->
    
    <div class="clearfix"></div>
      
    <hr>
    <div class="col-md-12 text-center"><p>CmpE-282 CloudServices-LinkedIn Prototype</p></div>
    <hr>
    
  </div>
</div><!--/main-->

  <!-- script references -->
	  <script type="text/javascript"></script>
    <script src="js/ajaxCallUserSearch.js"></script>
	  		
	  </script>
  </body>
</html>