<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>LinkedIn Prototype</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<nav class="navbar navbar-fixed-top header">
 	<div class="col-md-12">
        <div class="navbar-header">
          
          <a href="#" class="navbar-brand">LinkedIn Prototype</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>
      
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
        </div>	
     </div>	
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
          <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"></i> Home <small></small></a>
          <a href="#" style="margin-left:5px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"></i> Job Applications <small></small></a>
        </div>
    </div>	
</div>

<!--main-->
<div class="container" id="main">
   <!--row-->
   <div class="row">
   <div class="col-md-4 col-sm-6">
      
      <div class="well">
          <h4>About Me!</h4>
          <form>
                <input id="userid" type="text" class="form-control" placeholder="Company Id" value="002" disabled>
                <div class="form-group">
                  <label for="companyName">User Name</label>
                <!--  <input id="name" type="text" class="form-control" disabled><button id="savename" class="btn btn-link pull-right" type="button">save</button><button id="editname" class="btn btn-link pull-right" type="button">edit</button>-->
                  <div id="ajaxName"> </div>
                
                </div>
                
                <div class="form-group">
                  <label for="overview">Bio</label>
                  <textarea id="overviewText" class="form-control" id="overview"></textarea><button id="saveoverview" class="btn btn-link pull-right" type="button">save</button><button id="editoverview" class="btn btn-link pull-right" type="button">edit</button>
                </div>
                <div class="form-group">
                  <label for="website">Status</label>
                  <input id="urlText" type="text" class="form-control" id="website"><button id="saveurl" class="btn btn-link pull-right" type="button">save</button><button id="editurl" class="btn btn-link pull-right" type="button">edit</button>
                </div>
                
            </form>
      </div>

	</div>

  	<div class="col-md-4 col-sm-6">
      	 
          <div class="well"> 
            <h4>Education</h4>
              <form>
                  <div class="form-group">
                    <label for="college">College</label>
                    <input type="text" class="form-control" id="college" placeholder="Enter College"> <button id="editcollege" class="btn btn-link pull-right" type="button">Add College</button>
                  </div>
                  <div class="form-group">
                    <label for="skills">Skills</label>
                    <textarea class="form-control" id="skills" placeholder="Skills"></textarea><button id="editskills" class="btn btn-link pull-right" type="button">Add Skills</button>
                  </div>
                 <!-- <div class="form-group">
                    <label for="expiry">Expiry Date</label><br>
                    <input type="date" class="form-control" name="expiry">
                  </div>-->
                  <div class="form-group">
                    <label for="certification">Certification</label>
                    <input type="text" class="form-control" id="location" placeholder="Certification"></textarea> <button id="editcertification" class="btn btn-link pull-right" type="button">Add certificates</button>
                  </div>
                  <!--<button class="btn btn-success pull-right" type="button">Post Job</button><ul class="list-inline"><li></li></ul>-->
              </form>
          </div>
      
  	</div>

  	<div class="col-md-4 col-sm-6">
      
      <div class="well"> 
             <form class="form-horizontal" role="form">
              <h4>Post Status</h4>
               <div class="form-group" style="padding:14px;">
                <textarea id="statusText" class="form-control" placeholder="Update your status"></textarea>
              </div>
              <button id="postStatus" class="btn btn-success pull-right" type="button">Post Status</button><ul class="list-inline"><li></li></ul>
            </form>
        </div>

    </div>

  </div><!--/row-->
    
    <div class="row">
        <div class="col-md-4 col-sm-6">
        <div class="panel panel-default " >
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Following Users</h4></div>
          <div class="panel-body">
            <ul class="list-group">
            <li class="list-group-item">Modals</li>
            <li class="list-group-item">Sliders / Carousel</li>
            <li class="list-group-item">Thumbnails</li>
            </ul>
          </div>
         </div>
        </div>
        <div class="col-md-4 col-sm-6">
        </div>
        <div class="col-md-4 col-sm-6">
        <div class="panel panel-default " >
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Following Companies</h4></div>
          <div class="panel-body">
            <ul class="list-group">
            <li class="list-group-item">Modals</li>
            <li class="list-group-item">Sliders / Carousel</li>
            <li class="list-group-item">Thumbnails</li>
            </ul>
          </div>
         </div>
        </div>
    
    </div>
    
    <div class="row">
      <div class="col-md-12"><h2>Trends</h2></div>
          <div class="col-md-6">
          <div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>User Activities</h4></div>
          <div class="panel-body">
            <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Keyword: Bootstrap</a>
            <div class="clearfix"></div>
            <hr>
            
            <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
            
            <hr>
            <form>
            <div class="input-group">
            <div class="input-group-btn">
            <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
            </div>
            <input type="text" class="form-control" placeholder="Add a comment..">
            </div>
            </form>
            
          </div>
         </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Posts By Company</h4></div>
          <div class="panel-body">
            <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Keyword: Bootstrap</a>
            <div class="clearfix"></div>
            <hr>
            
            <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>
            
            <hr>
            <form>
            <div class="input-group">
            <div class="input-group-btn">
            <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
            </div>
            <input type="text" class="form-control" placeholder="Add a comment..">
            </div>
            </form>
            
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
      
    <hr>
    <div class="col-md-12 text-center"><p>CmpE-282 CloudServices-LinkedIn Prototype</p></div>
    <hr>
    
  </div>
</div><!--/main-->

	<!-- script references -->
	<script src="js/jquery-1.11.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
  <script src="js/ajaxCallsForUserProfile.js"></script>
	</body>
</html>